* {
    margin: 0;
    padding: 0;
}


body {
    /* background-color: antiquewhite; */
    text-align: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/532/221/non_2x/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg");
    background-size: cover;
    /* backdrop-filter: 10px; */

    /* filter: blur(10px); */
    /* -webkit-filter: blur(5px); */
    /* filter: blur(8px); */
    /* background-position: center; */
}


.title {
    font-size: 4rem;
    color: aliceblue;
    background: rgba(0, 4, 48, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

#containerBox {
    height: 55vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#allButtonBox {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.boxButton {
    height: 15vmin;
    width: 15vmin;
    font-size: 4rem;
    /* color: red; */
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem rgba(90, 81, 81, 0.5);
    background-color: rgb(228, 207, 151);
}

#reset-Btn {
    padding: 1.2rem;
    font-size: 1.5rem;
    background-color: #000435;
    color: whitesmoke;
    /* border-color: white; */
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.852);
}

#newGameBtn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #000430;
    color: whitesmoke;
    /* border: none; */
    /* border-color: white; */
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.852);
}

.messageContainer {
    margin-bottom: 5vmin;
}



.messageWinnerPlayer {
    font-size: 2.5em;
}

/* hide util winner is declared, Shown dynamicaly */
.hideWinner_newGameButton {
    display: none;
    background: rgba( 0, 4, 48, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}