:root {
    --border-color: blue;
    --fill-color: rgb(14, 183, 240);
}

* {
    box-sizing: border-box;
}

.navbar {

    background-color: #e3f2fd;
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-name {
    font-size: larger;
    color: rgb(9, 9, 9);
}

.dropdown-toggle {
    color: rgb(10, 88, 202);
    font-size: 20px;
    font-weight: 400;
}

.nav-link {
    color: rgb(10, 88, 202);
}

.dropdown-toggle:hover {
    color: rgb(10, 88, 202);
}

body {
    background-color: #84accd;
    background-image: url(./water-drops-background.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    backface-visibility: visible;
    backdrop-filter: 20%;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


/* toggle button CSS*/
.righttoggle-button {
    /* display: none; */
    color: black;
    background-color: transparent;
}

/* @media screen and (max-width: 1024px) {
    righttoggle-button {
        visibility: visible;
        background-color: red
    }
} */

.offcanvas {
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown-toggle:hover {
    color: black;
}

.nav-link {
    color: black;
}


.input-Btn {
    justify-content: center;
    align-items: center;
}

input[type=text] {
    color: rgb(4, 63, 82);
    width: 5em;
    border-radius: 5em;
}

.goalinput {
    /* border: 2px solid; */
    width: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input[type] {
    border: transparent;
    text-align: center;
    font-size: 1.8rem;
}

input[type=text]:focus {
    border: transparent;
}

.input-Btn {
    display: flex;
    gap: 10px;
}

.input-Btn {
    justify-content: center;
    align-items: center;
}

input[type=text] {
    color: rgb(4, 63, 82);
    width: 5em;
    border-radius: 5em;
}

#btnInc,
#btnDec {
    border: 1.5px solid;
    border-radius: 5em;
    width: 4rem;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

/* set goal button */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    /* min-height: 60px; */
    min-width: 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/* body styling */

.body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cardBottle {
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 10px solid rgba(255, 255, 255, 0.3);
}

.card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bottle-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5em;
    margin-bottom: 50px;
}


/* botltle styling*/
/* .bottle {
position: relative;
width: 100px;
height: 250px;
display: flex;
flex-wrap: wrap;
} */

.bottle {
    background-color: white;
    border: 5px solid var(--border-color);
    color: var(--fill-color);
    border-radius: 0 0 50px 50px;
    width: 150px;
    height: 340px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}


/* resizing small cups */
.bottle.bottle-small {
    width: 60px;
    height: 85px;
    border: 3px solid blue;
    border-radius: 0 0 15px 15px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.5s ease;
}

.bottle.bottle-small.full {
    background-color: var(--fill-color);
    color: white;
}

/* for all small cups */
.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.5s ease-in-out;
}

.percentage {
    background-color: var(--fill-color);
    text-align: center;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.text {
    margin: 0 0 5px;
    text-align: center;
}

/* app .cssss end*/
h1 {
    margin: 50px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.bottle-body {
    border: 1px solid;
    margin: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 2em;

}

/* for overall cups size creation */
.bottle {
    background-color: white;
    border: 5px solid var(--border-color);
    color: var(--fill-color);
    border-radius: 0 0 50px 50px;
    width: 150px;
    height: 340px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

/* resizing small cups */
.bottle.bottle-small {
    width: 60px;
    height: 85px;
    border: 3px solid blue;
    border-radius: 0 0 15px 15px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.5s ease;
}

.bottle.bottle-small.full {
    background-color: var(--fill-color);
    color: white;
}

/* for all small cups */
.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.5s ease-in-out;
}

.percentage {
    background-color: var(--fill-color);
    text-align: center;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.text {
    margin: 0 0 5px;
    text-align: center;
}